.vscode/**
.vscode-test/**
src/**
node_modules/**
.gitignore
*.vsix
.yarnrc
yarn.lock
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
*.map
*.ts
eslint.config.mjs
vsc-extension-quickstart.md

